<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>别看了404了</title>
<style type="text/css">
<!--
body,td,th {
	color: #FFFFFF;
}
body {
	background-color: #0099CC;
}
.STYLE7 {
	font-size: 24px;
	font-family: "微软雅黑";
}
.STYLE9 {font-size: 16px}
.STYLE12 {
	font-size: 100px;
	font-family: "微软雅黑";
}
-->
</style></head>

<body>

<span class="STYLE12">&nbsp;:(</span>
<p class="STYLE7"> 　　别TM一天天净寻思干我网站了 没后台页面，手动上传的！！<br />
　　劳资一学生租个服务器容易么</p>
<p class="STYLE7">　　<span class="STYLE7"></span>不过你TM想买小米儿的话可以百度一下 : )</span></p>
<p class="STYLE7">　　<span class="STYLE7"></span><a href="http://www.phdyu.com">戳这你能回首页看到大哥的帅照 : )</a></span></p>


</body>

</html>
